<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cd.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="cn.cd.domain.TBook">
        <id property="id" column="id"/>
        <result property="isbn" column="isbn"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="author" column="author"/>
        <result property="publisher" column="publisher"/>
        <result property="category" column="category"/>
        <result property="language" column="language"/>
        <result property="introduction" column="introduction"/>
        <result property="totalQuantity" column="total_quantity"/>
        <result property="availableQuantity" column="available_quantity"/>
    </resultMap>

    <!-- 添加图书时，默认将在库数量设置为馆藏数量 -->
    <insert id="add">
        INSERT INTO t_book
        (isbn, name, price, author, publisher, category, language,
         introduction, totalQuantity, availableQuantity)
        VALUES (#{isbn}, #{name}, #{price}, #{author}, #{publisher}, #{category}, #{language},
                #{introduction}, #{totalQuantity}, #{totalQuantity})
    </insert>


    <!-- 更新图书在库数量，如果借书，将quantity设置为负数 -->
    <update id="updateBookAvailableQuantity">
        UPDATE t_book
        SET availableQuantity = availableQuantity + #{changeNum}
        WHERE id = #{id}
    </update>
    <update id="updateTotalAndAvailable">
        UPDATE t_book
        SET totalQuantity     = totalQuantity + #{changeNum},
            availableQuantity = availableQuantity + #{changeNum}
        WHERE id = #{id}
    </update>

    <delete id="batchDeleteBooks" parameterType="java.util.List">
        DELETE FROM t_book
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" resultMap="BaseResultMap">
        select *
        from t_book
        where id = #{id}
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select *
        from t_book
        where name = #{name}
    </select>

    <select id="getByAuthor" resultMap="BaseResultMap">
        select *
        from t_book
        where author = #{author}
    </select>

    <select id="getByISBN" resultMap="BaseResultMap">
        select *
        from t_book
        where isbn = #{isbn}
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select *
        from t_book
    </select>

    <select id="selectPageForAdmin" resultMap="BaseResultMap">
        SELECT * FROM t_book
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author LIKE CONCAT('%', #{author}, '%')
            </if>
            <if test="isbn != null and isbn != ''">
                AND isbn LIKE CONCAT('%', #{isbn}, '%')
            </if>
        </where>
    </select>

    <select id="selectPageForUser" resultMap="BaseResultMap">
        SELECT * FROM t_book
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author LIKE CONCAT('%', #{author}, '%')
            </if>
            <if test="isbn != null and isbn != ''">
                AND isbn LIKE CONCAT('%', #{isbn}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
        </where>
    </select>

    <select id="gatAvailableQuantityById" resultType="java.lang.Integer">
        SELECT availableQuantity
        FROM t_book
        WHERE id = #{id}
    </select>

    <select id="gatTotalQuantityById" resultType="java.lang.Integer">
        select totalQuantity
        from t_book
        where id = #{id}
    </select>
</mapper>