<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cd.mapper.LendrecordMapper">

    <insert id="add">
        insert into t_lendrecord (book_id, user_id, lend_time, return_time)
        values (#{bookid}, #{userid}, #{lendtime}, #{returntime})
    </insert>
    <update id="update">
        update t_lendrecord
        set book_id= #{bookid}, user_id= #{userid},
            lend_time= #{lendtime}, return_time= #{returntime}
        where id= #{id}
    </update>
    <delete id="delete">
        delete from t_lendrecord where id= #{id}
    </delete>
    <select id="getById" resultType="cn.cd.domain.TLendrecord">
        select * from t_lendrecord where id= #{id}
    </select>
    <select id="getByBookid" resultType="cn.cd.domain.TLendrecord">
        select * from t_lendrecord where book_id= #{bookid}
    </select>
    <select id="getByUserid" resultType="cn.cd.domain.TLendrecord">
        select * from t_lendrecord where user_id= #{userid}
    </select>
    <select id="countByCategory" resultType="cn.cd.domain.TLendrecord">
        select count(*) as countNum, category
        from t_lendrecord group by category
    </select>

</mapper>