<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cd.mapper.LendrecordMapper">
    <resultMap id="BaseMap" type="cn.cd.domain.TLendrecord">
        <result column="user_id" property="user_id"/>
        <result column="book_id" property="book_id"/>
        <result column="bookname" property="bookname"/>
        <result column="category" property="category"/>
        <result column="rent_time" property="rent_time" jdbcType="VARCHAR" />
        <result column="return_time" property="return_time" jdbcType="VARCHAR"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="addRecord">
        INSERT INTO t_lendrecord (user_id, book_id, category, rent_time,
                                  return_time, bookname, status)
        VALUES (#{user_id}, #{book_id}, #{category}, NOW(),
                DATE_ADD(NOW(), INTERVAL 30 DAY), #{bookname}, 1)
    </insert>

    <update id="updateRecordStatus">
        UPDATE t_lendrecord
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteRecord">
        DELETE FROM t_lendrecord WHERE id = #{id}
    </delete>


    <select id="getStatusSum" resultType="Integer">
        select sum(status) as statusSum from t_lendrecord
        where user_id = #{user_id}
    </select>

    <select id="pageQuery"  resultMap="BaseMap">
        select * from t_lendrecord
        <where>
            <if test="user_id != null and user_id != ''">
                and user_id = #{user_id}
            </if>
            <if test="book_id != null and book_id != ''">
                AND book_id = #{book_id}
            </if>
            <if test="bookname != null and bookname != ''">
                AND bookname LIKE CONCAT('%', #{bookname}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category LIKE CONCAT('%', #{category}, '%')
            </if>
            <choose>
                <when test="status != null">
                    AND status = #{status}
                </when>
                <otherwise>
                    AND status IN (0, 1)
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getById" resultType="cn.cd.domain.TLendrecord">
        select * from t_lendrecord where id = #{id}
    </select>

    <select id="getBookidById" resultType="java.lang.Long">
        select book_id from t_lendrecord where id = #{id}
    </select>

    <!-- 获取已经超时的借阅记录 -->
    <select id="getOverTimeRecord" resultType="cn.cd.domain.TLendrecord">
        select * from t_lendrecord
        where user_id = #{userId} and status = 1 and NOW() > return_time
    </select>

    <!-- 获取即将到期的借阅记录 -->
    <select id="getSoonRecord" resultType="cn.cd.domain.TLendrecord">
        select * from t_lendrecord
        where user_id = #{userId} and status = 1 and DATE_SUB(NOW(), INTERVAL 5 DAY) > return_time
    </select>


</mapper>